{#<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">#}
{#<html xmlns="http://www.w3.org/1999/xhtml">#}
{#<head>#}
{#<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />#}
{#<title>Untitled Document</title>#}
{#</head>#}
{##}
{#<body>#}
{% extends 'admin_index.html' %}
{% block body %}

<form id="form1" name="form1" method="post" action="">
{#<caption>#}
{#      View User#}
{#    </caption>#}
  <table class="table table-striped" border="1">

    <tr>
      <th scope="row">sl no </th>
      <td>Name</td>
      <td>Phone no </td>
      <td><p>Email</p>      </td>
    </tr>


       {% for i in val %}
    <tr>

      <th scope="row">&nbsp;{{ forloop.counter }}</th>
      <td>&nbsp;{{ i.firstname }}  {{ i.lastname }}</td>
      <td>{{ i.phone }} </td>
      <td>&nbsp;{{ i.email }}</td>
    </tr>


       {% endfor %}
  </table>
</form>
<p align="center">&nbsp;</p>
{#</body>#}
{#</html>#}
{% endblock %}